.contact_text {
    width: 100%;
}

.button {
    text-decoration: underline;
    color: #0359b4;
}

@media only screen and (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }

    .contact_text {
        width: 100%;
    }

    .background_container {
        width: 100%;
    }

    .image {
        background-image: url('../public/images/75.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        margin-left: 1rem;
        height: 350px;
    }
}