.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00152e;
  color: rgb(255, 255, 255);
  height: 80px;
  padding: 0 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  color: #fff;
  margin-right: 20px;
}

.header a:hover {
  color: #D5F3FE;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: #3C99DC;
  font-size: 20px;

}

.logo a {
  color: #3C99DC;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}