.container {
    padding: 0px 150px;
    /* padding: 0px 40px; */

}

.hero_image {
    position: relative;
    background: url('../public/images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;

}

.hero {
    height: 100%;
}

.hero_text_container {
    margin-top: 100px;
    max-width: 680px;


}

.hero_intro {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .5px;
}

@media only screen and (min-width: 768px) {
    .hero_intro {
        font-size: 2.1rem;
    }
}

.hero_subline {
    font-size: 1.1rem;
    margin-top: 25px;
    letter-spacing: .5px;
    line-height: 150%;
}

.button {
    display: block;
    margin-top: 1.7rem;
    padding: .5rem .7rem;
    background-color: #0359b4;
    border-radius: 5px;
    width: 10rem;
    text-align: center;
}