.wrapper {
    position: relative;
    margin: 3rem auto;
    display: flex;
    align-items: center;


}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.button__add {
    width: 300px; 
    border-radius: 8px;
    padding: .5rem .8rem;
    background: rgb(3, 89, 181);
    display: block;
    margin: .3rem auto;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-align: center;


}