.project {
    position: relative;
    background: rgb(3, 89, 181);
    margin: 2rem 1rem 2rem 0;
    padding: 1.1rem;
    border: 1px solid #031930;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(1, 1, 36, 0.2);
    -webkit-box-shadow: 2px 2px 2px 1px rgb(1 1 36 / 20%);

}

.img {
    flex: 1;
}

.img img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.project_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .8rem;

}



.project_info {
    margin-bottom: 1rem;
}

.project_tag {
    display: flex;
    flex-direction: row;
    margin: .6rem auto;



}

.project_tech {
    font-size: .8rem;
    margin-right: .9rem;
    background-color: #FFC300;
    color:rgba(1, 1, 1);
    padding: .3rem .5rem;
    border-radius: 8px;
}

.project_link {
    border-radius: 8px;
    padding: .5rem .8rem;
    background: #031930;
    display: block;
    margin: .3rem auto;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-align: center;

}